$accent-color: #f36262;

#app,
footer .text {
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 1200px;
  margin: 20px;
  margin-top: 30px;
  line-height: 168%;
  @media (min-width: 960px) {
    margin: 50px 70px;
    p {
      font-size: 24px;
      line-height: 36px;
    }
    li {
      font-size: 20px;
    }
  }
  @media (min-width: 1270px) {
    margin: 80px auto 20px auto;
  }
}

a {
  color: #000;
}
.menu {
  font-size: 24px;
  line-height: 1.25em;
  display: flex;
  flex-wrap: wrap;
  > * {
    text-decoration: none;
    color: #000;
    margin-right: 15px;
    padding: 0.2em 0.4em;
    &:hover {
      color: #fff;
      background: #000;
    }
    &.active {
      color: #fff;
      background: #000;
    }
  }
}
.social {
  width: 24px;
  height: 24px;
  padding-right: 12px;
}
.hands {
  width: 184px;
}
.pink {
  color: $accent-color;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.phone {
  position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background: $accent-color;
    right: 0;
    left: 0;
    bottom: -2px;
  }
}
.two-columns {
  display: flex;
  flex-direction: column;
  @media (min-width: 960px) {
    flex-direction: row;
    align-items: center;
    > * {
      width: 50%;
    }
  }
}
.drop-shadow {
  position: relative;
  border: 4px solid #000000;
  background: #fff;
  padding: 1.5em;
  padding-right: 3em;
  margin-bottom: 10px;
  h2,
  p {
    margin-top: 0;
  }
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #000;
    top: 10px;
    left: 10px;
  }
}
.black-title {
  position: relative;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1.5em;
}
#app .content > * {
  margin-bottom: 60px;
}
a.title {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  h1 {
    position: relative;
    margin-right: auto;
    margin-left: 12px;
    line-height: 1em;
    &::before {
      content: '';
      position: absolute;
      left: -12px;
      width: 4px;
      height: 100%;
      background: #000;
    }
    @media (min-width: 960px) {
      font-size: 48px;
    }
    @media (min-width: 1280px) {
      font-size: 72px;
      line-height: 84px;
      margin-left: 16px;
      &::before {
        width: 8px;
        left: -16px;
      }
    }
  }
}
footer {
  width: 100vw;
  max-width: 100%;
}
footer .social {
  margin-top: 10px;
}
.house {
  width: 100%;
}
body {
  margin: 0;
}
